
body {
    background: #521245;
    font-family: Arial;
}
h1 {
    color: red;
}
/* E9NpvPvJ2V7dFKDpRtanbZewPhFoDvQyVpRR40zydTkkpzsu5LmRXrhVl0nrdpjODpesaWxW6SHoSev6gGcWKXYdQkAUUlSs5kX5vDyBJDHrmPb2MYfcha82aEdtfibSIX2QYNcr0KjSd42s1GtrxF0GQlEpJgwgjEKmbV0uldgT8FZenAzDStxida1JQ1VS7Ajco0h3 */
